.container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
}

.horizontal {
  height: 100vh;
  width: 200vw;
  position: relative;
  will-change: transform;

  & > div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
  }

  @media screen and (pointer: coarse) {
    width: 100vw;
    height: 200vh;

    & > div {
      display: block;
      flex-wrap: unset;
    }
  }
}
