.career {
  width: 100vw;
  min-height: 100vh;
  padding: 8rem 3rem 0;
  position: relative;
  background-color: #ffffff;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 1.6rem;

  & > h1 {
    width: 100%;
    font-size: 3.5rem;
    height: 3.5rem;
    margin-bottom: 2rem;
    font-weight: 900;
    text-shadow: 3px 2px 3px rgba(0, 0, 0, 0.3);
  }
}

.skills__content {
  width: 100%;

  ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    li {
      width: 33%;
      display: flex;
      align-items: center;
      height: 5rem;
      margin-bottom: 1rem;

      @media screen and (max-width: 419px) {
        width: 50%;
      }
    }
  }
}

.skills__content-icon {
  width: 4rem;
  height: 4rem;
  flex-shrink: 0;

  @media screen and (max-width: 419px) {
    width: 3rem;
    height: 3rem;
  }
}

.career__content {
  width: 100%;
  border-left: 0.3rem solid #eeeeee;
  padding-left: 0.5rem;
  margin: 1.5rem 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;

  .career__list {
    position: relative;
    z-index: 15;
    margin: 2.5rem 0;

    & > div {
      display: flex;
      align-items: flex-end;

      p {
        font-size: 1.5rem;
        font-weight: 500;
        margin-right: 0.5rem;
      }

      span {
        font-size: 1.3rem;
        font-weight: 500;
        color: #aaaaaa;
      }
    }

    .career__list-item {
      margin: 1rem 0 1rem 0.5rem;
      padding: 0 0 0 0.5rem;

      li {
        margin: 1.5rem 0;

        & > div {
          display: flex;
          align-items: flex-end;
          margin-bottom: 0.7rem;
          width: 100%;

          p {
            font-size: 1.3rem;
            font-weight: 500;
            margin-right: 0.5rem;
          }

          span {
            font-size: 0.9rem;
            font-weight: 500;
            color: #aaaaaa;
          }
          @media screen and (max-width: 679px) {
            flex-direction: column;
            align-items: flex-start;

            p {
              font-size: 1rem;
            }
          }
        }

        & > p {
          font-size: 1rem;
          padding: 0.25rem 0.7rem;
          border-left: 0.3rem solid #eeeeee;
        }
      }

      @media screen and (max-width: 679px) {
        border: 0;
        margin: 0;
        padding: 0;
      }
    }
    @media screen and (max-width: 679px) {
      margin: 0;
    }
  }

  @media screen and (max-width: 679px) {
    border: 0;
    margin: 0;
    padding: 0;
  }
}
