@media screen and (min-width: 1281px) {
  html,
  body {
    font-size: calc(max(18px, 1vw));
  }
}

@media screen and (min-width: 960px) and (max-width: 1280px) {
  html,
  body {
    font-size: 16px;
  }
}
@media screen and (min-width: 680px) and (max-width: 959px) {
  html,
  body {
    font-size: 14px;
  }
}
@media screen and (max-width: 679px) {
  html,
  body {
    font-size: 12px;
  }
}

// @font-face {
//   font-family: 'GmarketSans';
//   src: url('/font/GmarketSansLight.otf') format('opentype');
//   font-weight: 300;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'GmarketSans';
//   src: url('/font/GmarketSansMedium.otf') format('opentype');
//   font-weight: 500;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'GmarketSans';
//   src: url('/font/GmarketSansBold.otf') format('opentype');
//   font-weight: 900;
//   font-style: normal;
// }
