.contact {
  width: 100vw;
  min-height: 100vh;
  position: relative;
  padding: 5rem 3rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;

  @media screen and (max-width: 419px) {
    padding: 3rem 1.6rem;
  }
}

.contact__content--contact {
  width: 100%;
  position: relative;

  & > h1 {
    font-size: 3.5rem;
    height: 5.5rem;
    font-weight: 900;
    text-shadow: 3px 2px 3px rgba(0, 0, 0, 0.3);
    padding-bottom: 2rem;
  }

  .contact__more-info {
    width: calc(min(50rem, 100%));
    padding: 2rem;
    margin: 0 auto;

    .contact__icon-list {
      height: 13rem;
      display: flex;
      align-items: center;
      justify-content: space-between;

      li {
        width: 6rem;
        height: 6rem;
        margin-bottom: 1rem;
        cursor: pointer;
        position: relative;
        will-change: transform;
        transition: transform 0.2s ease;
        filter: drop-shadow(0.2rem 0.2rem 0.1rem rgba(0, 0, 0, 0.3));

        &:hover {
          transform: rotate(45deg);
        }

        button {
          width: 6rem;
          height: 6rem;
        }
      }
    }
  }
}
