.footer {
  width: 100vw;
  height: 20vh;
  background-color: #333333;

  .footer__content {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
  }

  .content__copyright {
    width: 100%;
    text-align: center;
    align-self: center;

    p {
      color: #ffffff;
      font-size: 1rem;
      height: 1rem;
      margin-top: 0.8rem;
    }
  }
}
