.project {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.project__intro {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(3px);
  transform: scale(0);
  transform-origin: center;
  position: fixed;
  top: 0;
  left: 0;

  h1 {
    font-size: 5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.project__list {
  min-height: 100vh;
  width: 100%;
  margin-bottom: 1rem;
}

.project__list-item {
  height: 60vh;
  width: 100%;
  display: flex;
  margin-bottom: 5rem;
  align-items: flex-end;
  justify-content: space-between;

  .project__list-item--text {
    width: 35rem;

    h2 {
      font-size: 3rem;
      font-weight: 500;
      margin-bottom: 1rem;
    }

    p {
      width: 100%;
      font-size: 1.5rem;
    }
  }

  .project__list-item--image {
    width: 27rem;
    height: 27rem;
  }
}

.detail {
  width: 100vw;
  height: 100vh;
  overflow: hidden !important;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.6);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 19950809;

  .detail__slide {
    display: flex !important;
    align-items: flex-end;
    justify-content: space-around;
    padding: 2.5rem;

    .detail__slide-info--image {
      width: 80vh;
      height: 80vh;

      figure {
        filter: drop-shadow(6px 6px 4px rgba(0, 0, 0, 0.3));
      }
    }

    .detail__slide-info--text {
      width: calc(100% - 80vh);

      h1 {
        font-size: 3rem;
        font-weight: 500;
        margin-bottom: 0.5rem;
        position: absolute;
        top: 2.5rem;
      }

      h2 {
        font-size: 1.5rem;
        font-weight: 500;
        margin-bottom: 0.5rem;
      }

      p {
        font-size: 1.2rem;
        font-weight: 500;
        margin-bottom: 0.5rem;
      }

      .detail__slide-info--text-skills {
        display: flex;
        align-items: center;

        div {
          width: 3rem;
          height: 3rem;
          margin-right: 1rem;

          &:last-child {
            margin: 0;
          }
        }
      }
    }
  }
}
