.project {
  width: 100vw;
  background-color: #ffffff;
}

.project__content {
  width: 100vw;
  height: 100vh;
  position: relative;
  background: rgba(0, 0, 0, 1);

  .project__title--sub {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    z-index: 10;

    h1 {
      font-size: 7vw;
      height: 7vw;
      color: #ffffff;
      text-shadow: 3px 2px 3px rgba(0, 0, 0, 0.3);
      font-weight: 700;
    }
  }

  .project__title--main {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 5;
    opacity: 0;

    &::before {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      backdrop-filter: blur(5px);
    }

    & > div {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      align-items: center;
      z-index: 10;

      p {
        font-size: 7vw;
        color: #ffffff;
        text-shadow: 3px 2px 3px rgba(0, 0, 0, 0.3);
        font-weight: 700;
        transform: translate(0, -100%);
        opacity: 0;
      }
    }
  }
}

.project__list {
  min-height: 130vh;
  width: 100%;
  background-color: #ffffff;
}

.project__list-item {
  width: calc(min(1280px, 100%));
  height: 100%;
  padding: 3rem 3rem 3rem;
  margin: 0 auto;
  position: relative;

  .project__list-title {
    & > h1 {
      width: 100%;
      text-align: center;
      font-size: 3rem;
      font-weight: 700;
      line-height: 3.2rem;
      margin-bottom: 5rem;
    }

    & > h2 {
      width: 60%;
      font-size: 1rem;
      font-weight: 500;
      line-height: 1.2rem;
      margin-bottom: 2rem;
      margin: 0 auto 5rem;

      @media screen and (max-width: 419px) {
        width: 100%;
        margin: 0 auto 1.6rem;
      }
    }
  }

  @media screen and (max-width: 419px) {
    padding: 8rem 1.6rem;
  }

  .slide__arrow--next {
    width: 2rem;
    height: 2rem;
    transform: rotate(90deg);
    position: absolute;
    top: 0;
    left: 0;
  }

  .slide__arrow--prev {
    width: 2rem;
    height: 2rem;
    transform: rotate(-90deg);
    position: absolute;
    top: 0;
    right: 0;
  }
}

.project__list--images {
  width: 80%;
  margin: 5rem auto 3rem;

  .project__list--images-item {
    padding: 1rem;
    height: calc(min(100vw, 40rem));
  }

  @media screen and (max-width: 419px) {
    width: 90%;

    picture {
      width: 30%;
      height: 15rem;
    }
  }
}

.detail {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;

  @media screen and (max-width: 419px) {
    width: 100%;
  }
}

.detail__info {
  width: 80%;
  flex-shrink: 0;

  & > div {
    display: flex;
    align-items: flex-start;
    margin-bottom: 1rem;

    &:last-child {
      margin-bottom: 0;
    }

    & > h1 {
      width: 5rem;
      flex-shrink: 0;
      font-size: 1.2rem;
      height: 1.2rem;
      font-weight: 500;
      margin-bottom: 1rem;
    }

    ul {
      li {
        display: flex;
        align-items: center;
        margin-bottom: 0.7rem;

        span,
        a {
          min-width: 8rem;
          font-size: 1rem;
          font-weight: 300;
        }
      }
    }

    @media screen and (max-width: 419px) {
      width: 100%;
      flex-wrap: wrap;

      h1 {
        width: 100%;
      }
    }
  }

  @media screen and (max-width: 419px) {
    width: 100%;
  }
}

.detail__info--info {
  ul {
    width: calc(100% - 5rem);
    li {
      width: 100%;
      p {
        width: 5rem;
        font-weight: 300;

        @media screen and (max-width: 419px) {
          display: none;
        }
      }
    }
  }
}

.detail-info--skills {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  margin-bottom: 1rem;

  div {
    width: 3rem;
    height: 3rem;
    margin-right: 1rem;

    &:last-child {
      margin: 0;
    }
  }
  @media screen and (max-width: 419px) {
    width: 100%;
    justify-content: flex-start;
    margin-top: 0.3rem;

    div {
      width: 2rem;
      height: 2rem;
    }
  }
}
