.whoami {
  width: 100vw;
  min-height: 100vh;
  position: relative;
  padding: 8rem 3rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;

  @media screen and (max-width: 419px) {
    padding: 3rem 1.6rem;
  }
}
.whoami__content--interview {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  margin-bottom: 5rem;

  & > h1 {
    font-size: 3.5rem;
    height: 5.5rem;
    font-weight: 900;
    text-shadow: 3px 2px 3px rgba(0, 0, 0, 0.3);
    padding-bottom: 2rem;
  }

  .whoami__teller {
    width: 100%;
    height: 10rem;
    display: flex;
    align-items: center;
    background-color: #333333;
    border-radius: 1rem;
    margin-bottom: 2rem;
    padding: 1rem;
    opacity: 0;
    transform: translate(0, 100%);

    .whoami__profile-image {
      width: 8rem;
      height: 8rem;
      flex-shrink: 0;

      @media screen and (max-width: 419px) {
        display: none;
      }
    }

    .whoami__teller-description {
      width: 100%;
      height: 8rem;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;

      p {
        width: calc(100% - 9rem);
        line-height: 1.2;
        color: #ffffff;
        height: calc(100% - 1rem);
        display: flex;
        align-items: center;
        align-self: flex-start;

        @media screen and (max-width: 419px) {
          width: 100%;
        }
      }

      span {
        width: 9rem;
        font-size: 1rem;
        text-align: right;
        color: #ffffff;
        align-self: flex-end;
      }
    }
  }
}
